#####################################################################
# 	Nozzle Cleaning
#####################################################################

[gcode_macro BRUSH_WIPE]
description: "Tight zigzag nozzle wiping on brush"
gcode:
    M117 Cleaning the nozzle...
    BRUSH_PARK

    {% set x_min = 260 %}
    {% set x_max = 300 %}
    {% set y_min = 345 %}
    {% set y_max = 350 %}
    {% set steps = 35 %}  # Number of zigzag passes

    {% set y = y_max %}
    {% set x = x_max %}

    #Home if we aren't already so we can start moving
    {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}

    #Move to start of wipe, back right of brush
    G90
    G1 X{ x } Y{ y } Z5.0 F6000

    {% for i in range(steps) %}
      {% if loop.index % 2 == 0 %}
        {% set y = y_max %}
      {% else %}
        {% set y = y_min %}
      {% endif %}
      G1 X{ x-i } Y{ y } F6000
    {% endfor %}

    G1 X{ x } Y{ y } Z5.0 F6000

    {% set steps=9 %}

    {% for i in range(steps) %}
      {% if loop.index % 2 == 0 %}
        {% set x = x_max %}
      {% else %}
        {% set x = x_min %}
      {% endif %}
      G1 X{ x } Y{ y-1 } F6000
    {% endfor %}

    BRUSH_PARK  ; The first print move will start z moving down, don't crash into the brush

[gcode_macro BRUSH_PARK]
gcode:

    #Home if we aren't already so we can start moving
    {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}

    G91
    G1 Z15
    G90
    G1 X{ 315 } Y{ 350 } F6000
    #G1 Z5.2 F6000 
