#####################################################################
# 	Spoolman Active Spool Tracking
#####################################################################

[gcode_macro _SET_ACTIVE_SPOOL]
description: Set the active Spoolman spool
gcode:
  {% if params.ID is defined %}
    {% set spool_id = params.ID|int %}
    {action_call_remote_method(
      "spoolman_set_active_spool",
      spool_id=spool_id
    )}
    RESPOND TYPE=echo MSG="Spoolman active spool set to ID {spool_id}"
  {% else %}
    {action_raise_error("SET_ACTIVE_SPOOL requires ID=<spool ID>")}
  {% endif %}

[gcode_macro _CLEAR_ACTIVE_SPOOL]
description: Clear the active Spoolman spool
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}
  RESPOND TYPE=echo MSG="Spoolman active spool cleared"
